body{
    background-image: url(https://img.freepik.com/free-vector/glowing-musical-pentagram-background-with-sound-notes_1017-31220.jpg?semt=ais_hybrid&w=740) ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Haettenschweiler, Impact, 'Arial Narrow Bold', sans-serif
}
a {
    color:#ff4d00;
}
.container{
    background-color: #ff4d00;
    margin: 120px auto;
    max-width: 600px;
}
h1,h2 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #ff4d00
}
header{
    margin-bottom: 30px;
}
form{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    margin-bottom: 30px;
}
.input {
    padding: 16px;
    border: 1px solid #ff4d00;
    width:80%;
    font: 15px;
    border-radius: 50px;
    line-height: 20px;
}
.command {
    margin-left: 10px;
    background: #ff4d00;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    font:16px
    width: 150px;
}
.song {
    font-size: 16px;
    background-color: white;
    padding: 20px;
    line-height: 1.5;
    border-left: 3px solid #ff4d00;
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}
footer{
    text-align: center;
    font-size: 14px;
    color: #f5f5f5;
    margin-top: 30px;

}